.editable.edit-focus{
    padding:0 !important;
    position: relative;
}
.editable .edit-data{
    display:block;
}
.editable .form-control{
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    padding: 5px 8px;
}